body {
    color: $black;

    font: {
        family: $font-family;
        size: $font-size;
    }
    line-height: $line-height;

    @include mq('tablet') {
        font-size: 14px;
    }
    @include mq('desktop') {
        font-size: 16px;
    }
}
a {
    color: inherit!important;
}
a, button {
    outline: none!important;
}
img {
    max-width: 100%;
    margin: 0;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
main {
    padding-top: 75px;
}
